rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Start by closing all access by default, then add what you need
    match /{document=**} {
      allow read, write: if false;
    }

    match /test/{docId} {
      allow read: if true;
      allow write: if false;
    }

    match /test_documents/{id} {
      allow update: if (request.auth != null &&
      resource.data.authorId == request.auth.uid);
    }

    // Add new rules here -----------------------------------------------------

    match /todos/{todoId} {
      //Any authenticated user may create to-do items for themselves
      allow create: if (request.auth != null);

      //Users can view, update and delete their own to-do items.
      allow read, update, delete: if (request.auth != null && request.auth.uid == resource.data.uid);

    }

    match /users/{userId} {
      //Any authenticated user may create a profile and view other users' profiles.
      allow read, create: if (request.auth != null);

      // Any authenticated user is allowed to edit their own profile. Admin users can edit any user's profile. Only the admin users can make other users admins. 
      allow update: if (request.auth != null && (request.auth.uid == resource.data.uid || get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin));

    }

  }
}